OPENAI_API_KEY=NPSGangM9r9OG735
DATABASE_URL=postgresql://adminagent:Jb3IFxYzHcarFqXv@db:5432/agente_backend_db
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_RESPONSES=whatsapp_responses
KAFKA_TOPIC_PROSPECTION=whatsapp_prospection
POSTGRES_USER=adminagent
POSTGRES_PASSWORD=Jb3IFxYzHcarFqXv
POSTGRES_DB=agente_backend_db
SECRET_KEY=xhSqte4jKwngrpNUZoZI9kCic3LWwAY5
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30